body {
  overflow: hidden;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  background: url('/player/images/background/background.jpg') no-repeat;
  background-size: cover;
  z-index: -1;
  height: 110%;
  width: 110%;

  -webkit-filter: blur(1px) brightness(45%);
  -moz-filter: blur(1px) brightness(45%);
  -o-filter: blur(1px) brightness(45%);
  -ms-filter: blur(1px) brightness(45%);
  filter: blur(1px) brightness(45%);
}

#where-magic-happens {
  position: absolute;
  top: 10%;
}

.welcome-container {
  width: 65%;
  position: absolute;
  top: 250px;
  left: 60px;
}

.welcome-container h2 {
  font-size: 3.5em;
  color: white;
}

.row {
  display: table;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
  min-width: 70%;
}

.playlist-container {
  position: relative;
}

.playlist-wrapper, .button-container {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-container {
  padding: 28px 10px 10px 10px;
  overflow: hidden;
}

.button-container button {
  min-width: 146px;
}

.unshuffled-list, .shuffled-list {
  min-height: 438px;
  max-height: 438px;
}

.unshuffled-list {
  display: flex;
}

.unshuffled-list ul {
  width: 23em;
  margin: 10px auto 0 auto;
}

.unshuffled-list ul li {
  background-color: rgba(255, 255, 255, 0.5);
  max-height: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.next-song, .prev-song {
  width: 20px;
}

.img-artist {
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0 auto 0 auto;

  -webkit-border-radius: 150px;
  -moz-border-radius:    150px;
  border-radius:         150px;
}
