<div class="container-fluid content" ng-controller="ContentController">
  <div class="row">
    <div class="col-md-7">
      <div id="yt-player">
        Сначала нужно войти. Если это не поможет - убедитесь, что у вас есть <a href="http://get.adobe.com/flashplayer">Flash Player</a>.
      </div>
    </div>

    <div class="col-md-5">
    <p>{{songService.isShuffle()}}</p>
    <p>{{songService.currentSong}}</p>
    <p>{{songService.nextSong}}</p>
      <div class="container" ng-if="songService.shuffle">
        <p>Текущая песня:</p>
        <p class="lead">{{songService.currentSong.artist}} - {{songService.currentSong.title}}</p>
        <p>Следующая песня:</p>
        <p class="lead">{{songService.nextSong.artist}} - {{songService.nextSong.title}}</p>
        <button class="btn btn-link btn-sm" ng-click="changeNextSong()">Хочу другую!</button>
      </div>

      <button class="btn btn-info" ng-click="fullscreen()">На весь экран</button>
      <button class="btn btn-primary" ng-click="next()">Следующая песня</button>
    </div>
  </div>
</div>
